<!DOCTYPE html>
{% load static %}

<html lang="ko">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{% block head_title %}Blog{% endblock %}</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrap.min.css' %}" media="screen">

  <!-- Custom styles for this template -->
  <link href="{% static 'blog/css/blog-home.css' %}" rel="stylesheet" media="screen">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'blog/css/rome.css' %}">
  <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">

</head>

<script>
  function searchPost(){
    let searchValue = document.getElementById('search-input').value.trim();
    if (searchValue.length > 1){
      location.href="/blog/search/" + searchValue + "/";
    }
    else{
      alert('검색어( '+ searchValue +' )가 너무 짧습니다.');
    }
  };
</script>

<body>

  {% include 'blog/navbar.html' %}
  {% include 'blog/navbar_modal.html' %}

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8" id="main-area">
        {% block main_area %}
        {% endblock %}
      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Search Widget -->
        <div class="card my-4">
          <h5 class="card-header">Search</h5>
          <div class="card-body">
            <div class="input-group gap-2">
              <input type="text" class="form-control" placeholder="Search for..." id="search-input" style="font-size:10pt;">
              <span class="input-group-append">
                <button class="btn btn-secondary" type="button" onclick="searchPost();">Go!</button>
              </span>
            </div>
          </div>
        </div>

        <!-- Categories Widget -->
        <div class="card my-4" id="categories-card">
          <h5 class="card-header">Categories</h5>
          <div class="card-body">
            <div class="row">
                <ul class="list-group">
                  {% for category in categories %}
                      {% if request.path == category.get_absolute_url %}
                        <a class="list-group-item active" href="{{ category.get_absolute_url }}"> {{ category }} ({{ category.post_set.count }})</a>
                      {% else %}
                        <a class="list-group-item" href="{{ category.get_absolute_url }}"> {{ category }} ({{ category.post_set.count }})</a>
                      {% endif %}
                  {% endfor %}
                  {% if request.path == "/blog/category/no_category/" %}
                    <a class="list-group-item active" href="/blog/category/no_category/"> 미분류 ({{ no_category_post_count }})</a>
                  {% else %}
                    <a class="list-group-item" href="/blog/category/no_category/"> 미분류 ({{ no_category_post_count }})</a>
                  {% endif %}
                </ul>
            </div>
          </div>
        </div>

        <!-- Side Widget -->
        <div class="card my-4 text-center">

          {% include 'blog/calendar.html' %}

        </div>

      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  {% include 'blog/footer.html' %}

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>