{% extends 'blog/base.html' %}

{% block main_area %}
    {% if user.is_authenticated %}
        {% if user.is_superuser %}
            <br/>
            <a class ="btn btn-outline-info float-end" href="/blog/create_post/"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
              <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
            </svg>&nbsp;&nbsp;New Post</a>
        {% endif %}
    {% endif %}



    <h1 class="my-4">Blog {% if category %}<span class ="badge rounded-pill text-bg-secondary">{{ category }}</span>{% endif %}
        {% if tag %}<span class="badge text-bg-light"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tags" viewBox="0 0 16 16">
              <path d="M3 2v4.586l7 7L14.586 9l-7-7H3zM2 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 2 6.586V2z"/>
              <path d="M5.5 5a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm0 1a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zM1 7.086a1 1 0 0 0 .293.707L8.75 15.25l-.043.043a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 0 7.586V3a1 1 0 0 1 1-1v5.086z"/>
            </svg>{{ tag }} ({{ tag.post_set.count }})</span>{% endif %}
      <small>Secondary Text</small>
    </h1>
    {% if post_list.exists %}
        {% for p in post_list %}
        <!-- Blog Post -->
        <div class="card mb-4" id="post-{{ p.pk }}">
          {% if p.head_image %}
          <img class="card-img-top" src="{{ p.head_image.url }}" alt="{{ p }} head image">
          {% else %}
          <img class="card-img-top" src="https://picsum.photos/seed/{{ p.id }}/800/200" alt="random image">
          {% endif %}
          <div class="card-body">
            {% if p.category %}
              div<span class="badge bg-secondary rounded-pill float-end">{{ p.category }}</span>
            {% else %}
              <span class="badge bg-secondary rounded-pill float-end">미분류</span>
            {% endif %}
            <h2 class="card-title">{{ p.title }}</h2>
            {% if p.hook_text %}
              <h5 class="text-muted">{{ p.hook_text }}</h5>
            {% endif %}
            <p class="card-text">{{ p.content | truncatewords:45 }}</p>
              {% if p.tags.exists %}
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tags" viewBox="0 0 16 16">
                  <path d="M3 2v4.586l7 7L14.586 9l-7-7H3zM2 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 2 6.586V2z"/>
                  <path d="M5.5 5a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm0 1a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zM1 7.086a1 1 0 0 0 .293.707L8.75 15.25l-.043.043a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 0 7.586V3a1 1 0 0 1 1-1v5.086z"/>
                </svg>
                {% for tag in p.tags.iterator %}
                  <a href="{{ tag.get_absolute_url }}"><span class="badge text-bg-light">{{ tag }}</span></a>
                {% endfor %}
                <br/>
                <br/>
              {% endif %}
            <a href="{{ p.get_absolute_url }}" class="btn btn-primary">Read More &rarr;</a>
          </div>
          <div class="card-footer text-muted">
            Posted on {{ p.created_at }} by
            <a href="#">{{ p.author | upper }}</a>
          </div>
        </div>
        {% endfor %}
    {% else %}
        <h3>아직 게시물이 없습니다.</h3>
    {% endif %}

  <!-- Pagination -->
  <ul class="pagination justify-content-center mb-4">
    <li class="page-item">
      <a class="page-link" href="#">&larr; Older</a>
    </li>
    <li class="page-item disabled">
      <a class="page-link" href="#">Newer &rarr;</a>
    </li>
  </ul>

{% endblock %}
